@charset "UTF-8";
/* CSS Document */


@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html, body {
     margin: 0;
     width: 100%;
     height: 100%;
}

data-vide-bg {
	position: fixed;
}

body {
	font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, "sans-serif" !important;
	font-weight: bolder !important;
	overflow: hidden;
	color: white !important;
}

a {
    text-decoration: none !important;
    color: #ffffff !important;
}


a:hover{
   	text-shadow: 2px 0px 10px #ffffff;
	color: white !important;
	text-decoration: none;
}



#mylightbox {

    display: none;
    color: white;
    text-align: center;
    background: black;
	border-color: black;
    padding: 40px;
	margin: -15px -15px -15px -15px;

	}

.featherlight .featherlight-content {
    position: relative !important; 
    text-align: left !important;
    vertical-align: middle !important;
    display: inline-block !important;
    overflow: auto !important;
    padding: 25px !important;
    border-bottom: 0px solid transparent !important; 
    margin-left: 5% !important;
    margin-right: 5% !important;
    max-height: 95% !important;
    background: #fff !important;
    cursor: auto !important;
    white-space: normal !important;
	
}

.featherlight .featherlight-close-icon {
    position: absolute !important;
    z-index: 9999 !important;
    top: 15px !important;
    right: 15px !important;
    line-height: 25px !important;
    width: 25px !important;
    cursor: pointer !important;
    text-align: center !important;
    font-family: Arial,sans-serif !important;
    background: #fff !important;
    background: rgba(255, 255, 255, 0) !important;
    color: #fff !important;
    border: 0 !important;
    padding: 0 !important;
}



#mylightbox p {
    font-size: 13px;
}
#mylightbox h2 {
    font-size: 20px;
    font-weight: bold;
	    letter-spacing: 8px;
}
	


.featherlight .featherlight-inner {
  display: block !important;
}

.col {
	width: 100% !important;
}

.fixed-top {
	margin: 10px;
	letter-spacing: 12px;
	font-size: 14px;
	color: white ;
}

.fixed-bottom {
	margin: 10px;
	letter-spacing: 12px;
	font-size: 14px;
	color: white;
}




#logo img {
		width: 42px;
	height: 46px;
}


.social-icons a {
    color: #fff;
    text-decoration: none;
}


.footer-social-icons {
    display: block;
    letter-spacing: normal !important;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: auto;
    font-size: 20px;
}

.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
	margin-left: -20px;
}

.social-icons li {
        vertical-align: top;
    display: inline;
    height: 100px;
}
	

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;

}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-github {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;

}
.fa-github:hover {
    background-color: #000000;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-instagram:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

.mahim {
	z-index: 100;
    width: 328px;
    height: 525px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -164px;
    margin-top: -130px;
    overflow: hidden;
}

.mahim img {
   width: 328px;
   height: 525px;
}

.mahim_background {
   z-index: 90;
   width: 1051px;
   height: 200px;
   position: fixed;
   left: 50%;
   top: 50%; 
   margin-left: -525px;
   margin-top: -140px;
}

.mahim_background img {
   width: 1051px;
   height: 200px;
}



@media screen and (min-width : 320px) and (max-width : 480px) {
	
	
#logo img {
		width: 20px;
	height: 22px;
}
	
	
#mylightbox {

    display: none;
    color: white;
    letter-spacing: 6px;
    text-align: center;
    background: black;
	border-color: black;
    padding: 20px;
	margin: -15px -15px -15px -15px;

	}


.featherlight .featherlight-content {
	border: 0px !important;
	
}

#mylightbox p {
    font-size: 9px;
}
#mylightbox h2 {
    font-size: 16px;
    font-weight: bold;
}
	

	
.fixed-top {
	margin: 5px;
	letter-spacing: 3px;
	font-size: 12px;
	font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, "sans-serif" !important;
	font-weight: bolder !important;
}	
	
.fixed-bottom {
	margin: 5px;
	letter-spacing: 3px;
	font-size: 12px;
	margin-top: 10%;
	font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, "sans-serif" !important;
	font-weight: bolder !important;
	}
	
	.footer-social-icons {
    font-size: 10px;
	display: inline-block;
	text-align: center;
    margin-top: -15px;
    margin-left: -20px;
    margin-right: auto;
		   width: 180px;
		padding: -20px;
		letter-spacing: -5px;
	
}
	
	
.mahim img {
   width: 280px;
   height: 448px;
	margin-left: 8%;
	margin-top: 15%
}
	
.mahim_background img {
   width: 310px;
   height: 59px;
   margin-left: 35.5%;
	margin-top: -2%;
}	
	
ul .footer-social-icons {
    margin-top: 10px;
    padding: -40px;
	letter-spacing: 0px;
	padding-left: -40px !important;
}	
	


	
	
}
